.project-card {
  background-color: white;
  height: 350px;
  width: 234px;
  display: inline-block;
  margin: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.527);
  padding: 30px 20px;
  transition: 0.5s;
  cursor: pointer;
}
.project-card:hover {
  transform: scale(1.1);
}
.container-project__text {
  margin-top: 10px;
}
.project-card__title {
  color: #7209B7;
  font-weight: 700;
  font-size: 17px;
}
.project-card__description {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 12px;
}
.image-projet {
  text-align: center;
}
.image-projet__icon {
  max-width: 90%;
}