.scrollbar {
  position: fixed;
  top: 35%;
  right: 15px;
  z-index: 1;
}
.scrollbar ul li {
  margin: 20px 10px;
  height: 20px;
  width: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}
.white ul li:hover {
  border: 2px solid white;
  border-radius: 50%;
}
.purple ul li:hover {
  border: 2px solid #480CA8;
  border-radius: 50%;
}
.white ul li:hover .scrollbar-point {
  background-color: white;
}
.scrollbar-point {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.white .scrollbar-point {
  background-color: #E2E1D3;
}
.purple .scrollbar-point {
  background-color: #480CA8;
}