.skills {
  background: linear-gradient(#FFFFFF, #eeeeee);
  border-bottom-left-radius: 500px 30px;
  border-bottom-right-radius: 500px 30px;
}
.title-skills {
  font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #7209B7;
  margin-left: 110px;
  margin-top: 65px;
}
.container-skills {
  padding: 50px 150px 90px 120px;
} 