.skill-card {
  background-color: white;
  height: 15rem;
  width: 13rem;
  display: inline-block;
  margin: 15px;
  padding: 20px 0;
  border-radius: 20px;
}
.skill-name {
  color: #4CC9F0;
  font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-align: center;
}
.skill-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 765px) {
  .skill-card {
    height: 10rem;
    width: 7rem;
    margin: 10px;
    padding: 15px 10px;
    border-radius: 15px;
  }
  .skill-card__container img {
    max-width: 100%;
  }
}